.rec__btn { 
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  border-radius: 2px;
  position: relative;
  padding: 3px 35px;
  box-shadow: 0 .5rem 1rem rgba(#000, .2);
  transition: all .2s;
  color: $color-black;
  border: 1px solid $color-grey-light;
  background-color: $color-white;

  &:disabled,
  &[disabled]{
    border: 1px solid $color-white-2;
    background-color: $color-white-2; 
    color: $color-grey-light;
  }

  &:hover {
    transform: translateY(1px);
    box-shadow: 0 .3rem 1rem rgba($color-black, .2);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 .1rem .5rem rgba($color-black, .2);
  }

  &--large {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 300;
  }

  &--small {
    font-size: .8rem;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
  }

  &--primary {
    color: $color-white;
    border: 1px solid $color-primary;
    background: $color-primary;
  }

  &--primary#{&}--inverse {
    color: $color-primary;
    border: 1px solid $color-primary;
    background: $color-white;
  }
 }