.rec__btn { 
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  border-radius: 2px;
  position: relative;
  padding: 3px 35px;
  box-shadow: 0 .5rem 1rem rgba(#000, .2);
  transition: all .2s;

  &:disabled,
  &[disabled]{
    border: 1px solid #eaeaea;
    background-color: #eaeaea; 
    color: #c3c3c3;
  }

  &:hover {
    transform: translateY(1px);
    box-shadow: 0 .3rem 1rem rgba(#000, .2);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 .1rem .5rem rgba(#000, .2);
  }

  &--primary {
    color: #FFF;
    border: 1px solid #275b71;
    background: #275b71;
  }

  &--primary#{&}--inverse {
    color: #275b71;
    border: 1px solid #275b71;
    background: #FFF;
  }
 }